@model RES_CONTROL.Models.COLABORADORES

@{
    ViewBag.Title = "Eliminar";
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
}
<h2>Eliminar</h2>

<h3>¿Desea eliminar este colaborador?</h3>
<div>
    <h4>Colaboradores</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IDENTIFICACION_LEGAL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDENTIFICACION_LEGAL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NOMBRE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOMBRE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.APELLIDOS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.APELLIDOS)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.USUARIOS.EMAIL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.USUARIOS.EMAIL)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Volver al listado", "Index")
        </div>
    }
</div>
