@model RES_CONTROL.Models.RESES

@{
    ViewBag.Title = "Detalles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles</h2>

<div>
    <h4>Reses</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RAZA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RAZA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FIERRO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FIERRO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SexoFull)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SexoFull)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FECHA_NACIMIENTO_APROX)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FECHA_NACIMIENTO_APROX)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EDAD_MESES)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EDAD_MESES)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.POTREROS.DESCRIPCION_POTRERO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.POTREROS.DESCRIPCION_POTRERO)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Modificar", "Modificar", new { id = Model.ID_RES }) |
    @Html.ActionLink("Regresar al listado", "Index")
</p>
